
body {
    font-family: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1544.58px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_top{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}



/* .header_info-img {
    position: absolute;
    right: 0;
} */

.logo {
    width: 110px
}

.flex {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    align-items: center;
}

.logo:hover {
    opacity: 0.5;
}

#navbar {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
  }
  #navbar li { display: inline; }

.nav ul {
    display: flex;
    justify-content: space-between;
    grid-gap: 0 70px;
}

.nav ul li a {
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #5F5F5F;
    text-decoration: none;
}

.header_info-disc h1 {
    font-family: Roboto Condensed;
    font-size: 50px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5F5F5F;
    padding-top: 75px;
    padding-bottom: 44px;
}

.header_info-disc p {
    font-family: Roboto Condensed;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5F5F5F;
    padding-bottom: 30px;
}

.header_info-disc p2 {
    font-family: Roboto Condensed;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5F5F5F;
    padding-top: 100px;
}

.header_info {
    max-width: 1544.58px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.tel {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: #5F5F5F;
}